<!DOCTYPE html>

<html>

    <head>
        <title>Cloudfish</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
        <script type="text/javaScript" src="{{STATIC_URL}}js/jquery-1.8.0.js"></script>
        <script type="text/javaScript" src="{{STATIC_URL}}js/script.js"></script>

        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.png" type="image/x-icon" />

      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34174365-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

        {% block extra_hd %} {% endblock %}
    </head>

    <body>
        <div class="background">
            <div class="wrap">
                <div id="header">
                  {% if user.is_authenticated %}
                  <a href="{% url myservers-view %}" class="logo">
                  {% else %}
                  <a href="{% url index-view %}" class="logo">
                  {% endif %}
                    <img alt="cloudfish" src="{{STATIC_URL}}img/logo.png"/>
                  </a>
                    <div class="welcome-user">
                        {% if user.is_authenticated %}
                            <span class="username">{{ user.username }}</span>
                            <span class="logout"><a href="{% url logout-view %}">logout</a></span>
                        {% else %}
                            <a class="login" href="{% url login-view %}">Login</a>
                            <a class="signup" href="{% url register-view %}">Sign up</a>
                        {% endif %}

                    </div>
                    <div class="clear"></div>
                </div>
                {% if user.is_authenticated %}
                <div id="content">
                    <div class="sidebar">
                        <ul class="nav">
                            <li><a href="{% url myservers-view %}" class="{{ active_servers }}">My servers</a></li>
                            <li><a href="{% url myaccount-view %}" class="{{ active_account }}">My account</a></li>
                            <li><a href="{% url connect-view %}" class="{{ active_connect }}">Connect</a></li>
                        </ul>

                    </div>
                {% endif %}

                    {% if user.is_authenticated %} <div class="main-content">{% endif %}
                        {% block content %} {% endblock %}
                    {% if user.is_authenticated %} </div>{% endif %}

                    <div class="clear"></div>
                </div>

            </div>
        </div>

        <div id="footer">
            <div class="wrap">
                <ul class="team">
                    <li><a href="http://github.com/losmiserables/djangodash2012" target="_blank"><b>Los Miserables Team</b></a></li>
                    <li><a href="https://github.com/daltonmatos" target="_blank">Dalton Matos (Developer)</a></li>
                    <li><a href="http://rafaeldepaula.com/" target="_blank">Rafael de Paula (UI Designer)</a></li>
                    <li><a href="http://thuliocosta.com" target="_blank">Thúlio Costa (Developer)</a></li>
                </ul>

                <a id="djangodash-logo" href="http://djangodash.com/"><img src="{{ STATIC_URL }}img/djangodash.png"></a>

                <ul class="logos">
                    <li><a href="https://github.com/losmiserables/djangodash2012"><img src="{{ STATIC_URL }}img/github.png"></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </body>

</html>
