<!DOCTYPE html>

<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
        <script type="text/javaScript" src="{{STATIC_URL}}js/jquery-1.8.0.js"></script>
        <script type="text/javaScript" src="{{STATIC_URL}}js/script.js"></script>

        {% block extra_hd %} {% endblock %}
    </head>

    <body>
        <div class="wrap">
            <div id="header">
                <a class="logo"><img alt="cloudfish" src="{{STATIC_URL}}img/logo.png"/></a>
                <div class="welcome-user">
                    {% if user.is_authenticated %}
                        <span class="username">{{ greeting }} {{ user.username }}</span>
                        <span class="logout"><a href="{% url logout-view %}">logout</a></span>
                    {% else %}
                        <span class="login"><a href="{% url login-view %}">login</a></span>
                        <span class="login"><a href="{% url register-view %}">Sign up</a></span>
                    {% endif %}

                </div>
                <div class="clear"></div>
            </div>

            <div id="content">
                <div class="sidebar">
                    <ul class="nav">
                        <li><a href="{% url myservers-view %}" class="{{ active_servers }}">My servers</a></li>
                        <li><a href="{% url myaccount-view %}" class="{{ active_account }}">My account</a></li>
                    </ul>

                </div>

                <div class="main-content">
                    {% block content %} {% endblock %}
                </div>

                <div class="clear"></div>
            </div>

        </div>

        <div id="footer"></div>
    </body>

</html>