{% extends "base.html" %}

{% block content %}
    <div class="main-account">


        {% if errors %}
        <div class="feedback error">
          {% for e in errors %}
          <span>{{ e }}</span> <br/>
          {% endfor %}
          </div>
        {% endif %}

        {% if msgs %}
        <div class="feedback success">
          {% for m in msgs %}
          <span>{{ m }}</span> <br/>
          {% endfor %}
          </div>
        {% endif %}

        <div id="account-block">
          <form action="{% url myaccount-view %}" method="post">
            {% csrf_token %}
              <h2>Edit your account</h2>
              <h3> Change password </h3>
                <div class="account-info">
                    <div class="form-row">
                        <label for="cpasswd">Current password:</label>
                        <input required type="text" name="cpasswd" id="cpasswd"/>
                    </div>

                    <div class="form-row">
                        <label for="password">New Password:</label>
                        <input required type="password" name="password" id="password"/>
                    </div>

                    <div class="form-row">
                        <label for="confirm_password">Confirm password:</label>
                        <input required type="password" name="confirm_password" id="confirm_password"/>
                    </div>
                </div>

                <p class="secure-msg">
                    <img src="{{STATIC_URL}}img/secure.png"/>
                    <span class="secure-text"> Attention. In case of password change, will be needed to insert cloud keys again.</span>
                    <span class="clear"></span>
                </p>

                <button type="submit" name="submit" class="blue-btn">Save</button>
                <div class="clear"></div>
            </form>

        </div>
    </div>

{%  endblock %}
