{% extends "base.html" %}

{% block content %}
    <div id="home">
        <div class="banner">
            <h1>Fish your clouds and manage faster</h1>
            <h2>With Cloudfish you can manage <span class="amazon-text">Amazon AWS</span> and <span class="rackspace-text">Rackspace</span> at the same place.</h2>
            <a href="{% url register-view %}" class="blue-btn">Start now!</a>
        </div>
        <h3>Cloudfish was developed during <a href="http://djangodash.com" target="_blank">Django Dash 2012</a> in less than 48 hours by <a href="http://github.com/losmiserables/djangodash2012" target="_blank">Los Miserables</a>.</h3>
    </div>

{%  endblock %}
