{% extends "base.html" %}


{%  block content %}
    <div class="auth-block">
        <h1>Register your account</h1>
        <form action="{% url register-view %}" method="post">
            {% csrf_token %}

            <div class="form-row">
                <label for="name">Name:</label>
                <input required type="text" name="name" id="name"/>
            </div>

            <div class="form-row">
                <label for="email">E-mail:</label>
                <input required type="email" name="email" id="email"/>
            </div>

            <div class="form-row">
                <label for="password">Password:</label>
                <input required type="password" name="password" id="password"/>
            </div>

            <div class="form-row">
                <label for="confirm-password">Confirm password:</label>
                <input required type="password" name="confirm-password" id="confirm-password"/>
            </div>

            <button type="submit" name="submit" class="blue-btn">Done!</button>
            <div class="clear"></div>
        </form>

    </div>


{% endblock %}