{% extends "base.html" %}

{% block content %}

<div class="popup-overlay"></div>
<div class="popup-holder">
    <h2>Add server</h2>
    <form class="popup-form" method="POST" action={% url create-server %}>
    {% csrf_token %}
        <div class="form-row create-onservice">
            <div class="select-onservice">
                <input type="radio" name="provider" value="AM"/>
                <label>
                    <span class="amazon-icon"></span>
                    <span class="choose-service">Amazon</span>
                    <span class="clear"></span>
                </label>
            </div>

            <div class="select-onservice">
                <input type="radio" name="provider" value="RS"/>
                <label>
                    <span class="rackspace-icon"></span>
                    <span class="choose-service">Rackspace</span>
                    <span class="clear"></span>
                </label>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-row">
            <label>Name:</label>
            <input type="text" name="node-name"/>
        </div>
        <div class="form-row">
            <label>Image:</label>
            <select name="image">
                {% for provider,images in images.items %}
                    {% for image in images %}
                        <option value="{{ image.id }}">{{ image.name|truncatechars:30 }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
        <div class="form-row">
            <label>Size:</label>
            <select name="size">
                {% for provider,sizes in sizes.items %}
                    {% for size in sizes %}
                        <option value="{{ size.id }}">{{ size.name }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>

        <div class="form-row">
            <label>Region:</label>
            <select name="location">
                {% for provider,locations in regions.items %}
                    {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.name }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>

        <div class="popup-actions">
            <a class="popup-cancel btn">Cancel</a>
            <button type="submit" class="popup-save blue-btn">Add</button>
            <div class="clear"></div>
        </div>

    </form>

    <div class="clear"></div>
</div>

<div class="toolbar">
    <a class="add-server blue-btn popup-trigger">+ Add</a>
    <div class="service-filter select-holder">
        <a class="select-trigger">All services &#9660;</a>
        <ul class="select-dropdown">
            <li><a class="all-filter filter-option">All services</a></li>
            <li><a class="amazon-filter filter-option">Amazon</a></li>
            <li><a class="rackspace-filter filter-option">Rackspace</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<table class="server-list main-table" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th style="width: 16px;"><span class="cloud-icon"></span></th>
        <th>Server name</th>
        <th style="width: 120px">IP</th>
        <th>Image</th>
        <th>RAM</th>
        <th>Status</th>
        <th style="width: 50px">Actions</th>
    </tr>
    </thead>
    <tbody>
    {%  for provider, nodes in servers.items %}
        {% if provider == "AM" %}
            {%  for server in nodes %}
                <tr class={% cycle "amazon-row" "alt amazon-row"%}>
                    <td><span class="amazon-icon"></span></td>
                    <td>{{ server.name }}</td>
                    <td>{{ server.public_ip.0 }}</td>
                    <td>{{ server.image.name }}</td>
                    <td>{{ server.size.ram }}</td>
                    {% if server.state == 0 %}
                        <td><span class="server-status on">&#9679;</span>Running</td>
                    {% else %}
                        <td><span class="server-status off">&#9679;</span>Stopped</td>
                    {% endif %}
                    <td>
                        <div class="server-actions">
                            <a class="actions-trigger">&#9660;</a>
                            <ul class="actions-dropdown">
                                {% if server.state == 0 %}
                                    <li><a href="{% url stop-server provider server.id %}">Stop</a></li>
                                {% else %}
                                    <li><a>Start</a></li>
                                {% endif %}
                                <li><a>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {%  elif provider == "RS" %}
            {%  for server in nodes %}
                <tr class={% cycle "rackspace-row" "alt rackspace-row"%}>
                    <td><span class="rackspace-icon"></span></td>
                    <td>{{ server.name }}</td>
                    <td>{{ server.public_ip.0 }}</td>
                    <td>{{ server.image.name }}</td>
                    <td>{{ server.size.ram }}</td>
                    {% if server.state == 0 %}
                        <td><span class="server-status on">&#9679;</span>Running</td>
                    {% else %}
                        <td><span class="server-status off">&#9679;</span>Stopped</td>
                    {% endif %}
                    <td>
                        <div class="server-actions">
                            <a class="actions-trigger">&#9660;</a>
                            <ul class="actions-dropdown">
                                <li><a>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
    {% endif %}

    {%  endfor %}
    </tbody>
</table>

{%  endblock %}
