{% extends "base.html" %}

{% block content %}

    <div class="auth-block">
        <h1>Login</h1>
        <div class="feedback error">
            <span>Ops, an error occurred creating your account.</span>
        </div>
        <div class="feedback success">
            <span>Yeeha! Success fishing your cloud servers.</span>
        </div>
        <form action="{% url login-view %}" method="POST">
            {% csrf_token %}

            <div class="form-row">
                <label for="username">Email:</label>
                <input required type="email" name="username" id="username"/>
            </div>

            <div class="form-row">
                <label for="password">Password:</label>
                <input required type="password" name="password" id="password"/>
            </div>

            <button type="submit" name="Login" class="blue-btn">Go fish!</button>
            <div class="clear"></div>
        </form>
    </div>

{%  endblock %}