{% extends "base.html" %}

{% block content %}

    <div class="auth-block">
      <h1>Login</h1>

        {% if errors %}
        <div class="feedback error">
          <span>{{ errors }}</span>
        </div>
        {% endif %}

        {% if msgs %}
        <div class="feedback success">
          <span>{{ msgs }}</span>
        </div>
        {% endif %}
        <form action="{% url login-view %}" method="POST">
            {% csrf_token %}

            <div class="form-row">
                <label for="username">Email:</label>
                <input required type="email" name="username" id="username"/>
            </div>

            <div class="form-row">
                <label for="password">Password:</label>
                <input required type="password" name="password" id="password"/>
            </div>

            <button type="submit" name="Login" class="blue-btn">Go fish!</button>
            <div class="clear"></div>
        </form>
    </div>

{%  endblock %}
