html { overflow-y: auto;}
body,html {
    background: #666;
    color: #4b4b4b;
    font-family: 'Source Sans Pro', Arial, Helvetica, Tahoma,  sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    margin: 0; padding: 0;
}
button {
    cursor: pointer;
    width:auto;
    overflow:visible;
}
img, button {
    border: 0;
    outline: 0;
}
input { margin: 0; }
input[type="text"],input[type="password"],input[type="email"]
{
    background:#fff;
    border: 1px solid #ddd;
    color: #333;
    font-weight: normal;
    padding: 4px 8px;
    width: 180px;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid #555;
}

th, td {text-align:left;}
label {display:block; font-size: 12px; margin-bottom: 2px;}
ul {list-style: none; margin: 0; padding: 0;}
a {color: #000;}

h1, h2, h3, h4 {margin: 0; padding: 0;}

h1 {font-size: 30px;}
h2, h3 { margin-bottom: 20px;  font-weight: bold;}
h2 {font-size: 24px;}
h3 {font-size: 18px;}
h4 {font-size: 18px;}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.input-holder {
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 5px 5px;
}

.background { background: #f9f9f9;}

.wrap {
    margin: 0 auto;
    padding-bottom: 60px;
    width: 960px;
}

#header { margin: 0 0 55px; padding-top: 30px; }
.logo {
    float: left;
}

.welcome-user {
    float: right;
    margin-top: 5px;
}

.welcome-user .username {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.welcome-user .logout {
    display: block;
    text-align: right;
}

#footer {
    padding: 30px 0;
}


.sidebar {
    border-right: 1px solid #d3d3d3;
    float: left;
    width: 180px;
    min-height: 400px;
}

.main-content {
    float: left;
    margin-left: 10px;
    width: 769px;
}

.nav li a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 0px 4px 10px;
    text-decoration: none;
}
.nav li a.active { background: #4b4b4b; color: #fff; }

.main-table {width: 100%;}

.main-table th {
    background: #d3d3d3;
    font-size: 14px;
    padding: 5px 8px;
}

.main-table tr td {
    background: #f6f6f6;
    padding: 7px 8px;

    transition: background .10s ease-in-out;
    -moz-transition: background .10s ease-in-out;
    -webkit-transition: background .10s ease-in-out;
}
.main-table tr.alt td {
    background: #f0f0f0;
}

.main-table tr:hover td { background: #fcfcfc; }
.main-table tr.alt:hover td { background: #fefefe; }

.cloud-icon, .amazon-icon, .rackspace-icon {
    background: url(../../static/img/sprite-icons.png) no-repeat;
}
.cloud-icon {
    background-position: 0 0;
    display: block;
    width: 17px;
    height: 11px;
}

.amazon-icon {
    background-position: 0 -24px;
    display: block;
    width: 16px;
    height: 16px;
}
.rackspace-icon {
    background-position: 0 -53px;
    display: block;
    width: 15px;
    height: 16px;
}
.server-status { font-size: 18px; line-height: 12px; margin-right: 6px; }
.server-status.on {color: #5dbe16;}
.server-status.off {color: #d93b3b;}

.server-actions { position: relative; }
.server-actions .actions-trigger {
    background: #d4d4d4;
    color: #606060;
    cursor: pointer;
    display: block;
    height: 16px;
    text-align: center;
    width: 18px;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    transition: background .05s ease-in-out;
    -moz-transition: background .05s ease-in-out;
    -webkit-transition: background .05s ease-in-out;
}

.server-actions .actions-trigger:hover,
.server-actions .actions-trigger.open {
    background: #555;
    color: #fff;
}

.server-actions .actions-trigger.open {
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
}

.server-actions .actions-dropdown {
    background: #555;
    display: none;
    position: absolute;
    padding: 10px 0;
    right: 32px;
    top: 15px;
    z-index: 200;
    min-width: 80px;

    border-radius: 3px 0 3px 3px;
    -webkit-border-radius: 3px 0 3px 3px;
    -moz-border-radius: 3px 0 3px 3px;
}

.server-actions .actions-dropdown li a {
    display: block;
    cursor: pointer;
    color: #fff;
    padding: 4px 10px;
}
.server-actions .actions-dropdown li a:hover { background: #444; }


.toolbar { margin-bottom: 15px; }

.select-holder { position: relative; float: left; }
.select-holder .select-trigger {
    background: #f0f0f0;
    color: #404040;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 8px;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    transition: background .05s ease-in-out;
    -moz-transition: background .05s ease-in-out;
    -webkit-transition: background .05s ease-in-out;
}

.select-holder .select-trigger:hover {
    background: #d3d3d3;
}

.select-holder .select-trigger.open {
    background: #555;
    color: #fff;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
}

.select-holder .select-dropdown {
    background: #555;
    color: #fff;
    display: none;
    position: absolute;
    padding: 10px 0;
    left: 0;
    top: 25px;
    z-index: 200;
    min-width: 120px;

    border-radius: 0 3px 3px 3px;
    -webkit-border-radius: 0 3px 3px 3px;
    -moz-border-radius: 0 3px 3px 3px;
}

.select-holder .select-dropdown li a {
    display: block;
    color: #fff;
    cursor: pointer;
    padding: 4px 10px;
}

.select-holder .select-dropdown li a:hover { background: #444; }

.blue-btn, .btn {
    background: #44b2cd;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    padding: 3px 8px;
    text-decoration: none;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    transition: background .05s ease-in-out;
    -moz-transition: background .05s ease-in-out;
    -webkit-transition: background .05s ease-in-out;
}

.blue-btn:hover { background: #3aa2bc; }
.blue-btn:active { background: #378598; }

.btn { background: #d0d0d0; }
.btn:hover { background: #c3c3c3; }
.btn:active { background: #c0c0c0; }

/* popup */

.popup-overlay {
    background: #666;
    display: none;
    position: fixed;
    z-index: 900;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;

    opacity:0.50;
    filter: alpha(opacity = 50);
    -moz-opacity: 0.40;
    -webkit-opacity: 0.40;
}

.popup-holder {
    display: none;
    background: #fff;
    min-width: 250px;
    max-width: 860px;
    padding: 10px;
    position: absolute;
    z-index: 9999;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);

}
.popup-holder h2 { font-size: 24px; }

.popup-actions { float: right; margin: 20px 0 10px;}
.popup-actions .blue-btn {margin-right: 0;}


/* FORM */

.popup-form {
    width: 230px;
    margin: 0 auto;
}

.popup-form input[type="text"] {width: 212px;}
.form-row {
    margin-bottom: 15px;
}

.form-row input[type="radio"] {display: inline}

.create-onservice label {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 17px;
}

.create-onservice input[type=radio] {
    float: left;
    margin-right: 6px;
}
.create-onservice .amazon-icon,
.create-onservice .rackspace-icon { float:left;  margin-right: 6px; }

.select-onservice { float:left; }
.select-onservice .choose-service { float: left; margin-top: -1px; }

/* AUTH */

.auth-block {
    width: 300px;
    margin: 0 auto;
}
.auth-block form {
    background: #fff;
    padding: 30px 50px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.auth-block h1 { margin-bottom: 20px; }

.auth-block label {font-size: 14px;}

button.blue-btn { float: right; padding: 4px 8px; margin:10px 0 0 0; }

/* feedback */

.feedback {
    font-weight: bold;
    margin: 0 auto 30px;
    padding: 8px 10px;


    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.feedback.error {
    background: #FFD1D1;
    border: 1px solid #F2B3B3;
}

.feedback.success {
    background: #D4FFD1;
    border: 1px solid #ACE2A7;
}

.connect-clouds {
    width: 442px;
}
.connect-clouds .form-row img { float: left; margin-right: 42px; margin-top: 34px;}
.connect-clouds .connect-fields { float: left; }
.connect-clouds .connect-fields input{ margin-bottom: 15px;}

.connect-clouds .form-row { border-bottom: 1px solid #eee; margin-bottom: 25px; padding-bottom: 15px; }
.connect-clouds .btn { margin-top: 10px; }

.secure-msg { margin-bottom: 30px; }
.secure-msg img, .secure-text { float: left; }

.connect-clouds .secure-text { float: left; margin: 1px 0 0 10px; width: 310px; }


/* My account */

.main-account {
    background: #F6F6F6;
}
.account-info {}

#account-block {
    background: #F0F0F0;
    padding: 10px 40px 20px;
    width: 200px;
}
#account-block .secure-msg { float: left; }
#account-block .secure-text {
    margin: 1px 0 0 10px;
    width: 170px;
}

.cloud-info { width: 345px;; }
.cloud-info .connect-amazon { border-bottom: 1px solid #ddd; }
.cloud-info .connect-rackspace { border-bottom: 0; }

/* Home */

.banner {
    background: url(../../static/img/hook.png) no-repeat 615px -15px #4b4b4b;
    padding: 40px;
    height: 160px;
}

.banner h1 { color: #fff; font-size: 42px;}
.banner h2 { color: #fff; font-size: 18px;}
.banner .blue-btn {font-size: 22px;}
.amazon-text {color: #f6b324;}
.rackspace-text {color: #ec6868;}

.login { margin-right: 10px;}

.login, .signup {font-size: 18px; text-decoration: none;}
.login:hover, .signup:hover {color: #44B2CD;}

#home h3 { margin-top: 20px; }

.logos {
    float: right;
    margin-top: 10px;
}
.logos li {float: left;}
.team { float: left; margin-right: 190px; }
.team a {
    color: #eee;
    font-size: 14px;
    padding: 5px 0;
    text-decoration: none;
}
.team a:hover { color: #fff; text-decoration: underline; }
#djangodash-logo { float: left; margin-top: 20px;}